.catalog-products {
	margin: 6rem 0;
}

.catalog-products__category {
	margin-bottom: 6rem;
}

.catalog-products__category:last-child {
	margin-bottom: 0;
}

.catalog-products__category-title {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	margin: 3rem 0rem;
}

.catalog-products__items {
	display: grid;
	align-content: space-evenly;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
  gap: 1rem;
  row-gap: 4rem;
}

.catalog-products__item-link {
	color: #000;
	font-size: 0.875em;
	display: block;
}

.catalog-products__item-link:hover {
	color: #000;
}

.catalog-products__item-link,
.catalog-products__item-image,
.catalog-products__item-stock-status,
.catalog-products__item-cost {
	margin-bottom: 1rem;
}

.catalog-products__item-image {
	text-align: center;
}

.catalog-products__item-link:hover .catalog-products__item-details {
	color: #000;
}

.catalog-products__item-details {
	margin: 1rem 0 0 0;
	color: gray;
	-webkit-transition: ease-in 0.1s;
	-moz-transition: ease-in 0.1s;
	-o-transition: ease-in 0.1s;
	transition: ease-in 0.1s;
	-webkit-transition: ease-in 0.5s;
	-ms-transition: ease-in 0.1s;
}

.catalog-products__read-more {
	margin: 1.5rem 0;
}

.catalog-products__item-title {
	min-height: 2rem;
}

.catalog-products__category-summary {
	margin-bottom: 2rem;
}

.taxonomy-term-site-commerce-catalog-field-summary {
	margin-bottom: 2rem;
}

.taxonomy-term-site-commerce-catalog-full__content .views-view__pager {
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.catalog-products__items {
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		row-gap: 5rem;
	}
	.catalog-products__item-title {
		min-height: 4rem;
	}
}

@media (min-width: 1200px) {
	.catalog-products__items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1400px) {
	.catalog-products__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
