.products__price_editor {
	background: #f3f3f3;
	margin-bottom: 1rem;
	border: 1px solid #e2e2e2;
	padding: 0.5rem;
}

.site-commerce-price-editor {
	width: 100%;
}

.site-commerce-price-editor__col {
	padding: 0.2rem;
}

.site-commerce-price-editor__save {
	width: 100%;
}

.site-commerce-price-editor__row_changed {
	background: #f9ff00;
}

.site-commerce-price-editor__row:hover {
	cursor: move;
	background: #e2e2e2;
}

.site-commerce-price-editor__number {
	width: 80px !important;
}

.site-commerce-price-editor__number,
.site-commerce-price-editor__select,
.site-commerce-price-editor__btn {
  padding: 0.2rem !important;
}

.site-commerce-price-editor__btn:hover {
	cursor: pointer;
}
