.product__view {
	display: grid;
	align-content: space-evenly;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 4rem;
	margin-bottom: 4rem;
}

.product__images {
	text-align: center;
}

.product__title {
	margin-bottom: 1rem;
}

.product__cart-description {
	margin-bottom: 1rem;
}

.product__cart-data,
.product__cart-data-event {
	margin-bottom: 2rem;
}

.product__cart-data-event_hide {
	display: none;
}

@media (min-width: 992px) {
	.product__view {
		grid-template-columns: 1fr 1fr;
	}
}
