
.currency__rub:after {
	content: "\20BD";
	margin-left: 0.3rem;
}

.currency__usd:after {
	content: "\0024";
	margin-left: 0.3rem;
}

.currency__uah:after {
	content: "\20B4";
	margin-left: 0.3rem;
}

.currency__kzt:after {
	content: "\20B8";
	margin-left: 0.3rem;
}

.currency__eur:after {
	content: "\20AC";
	margin-left: 0.3rem;
}
