.site-commerce-edit__block {
	margin-bottom: 1rem;
}

.site-commerce-edit__title {
	font-weight: 700;
}

.site-commerce-edit__block select {
	width: 100%;
}


.site-commerce-form-table {
	background: #fcfcfa;
	border: 1px solid #ccc;
	padding: 1rem;
	margin-bottom: 0.8rem;
}

.site-commerce-form-table__row {
	border: 0;
}

.site-commerce-form-table__row:hover,
.site-commerce-form-table__row:focus {
	background: transparent;
}

.site-commerce-form-table input[type=text] {
	width: 100%;
}
