.carousel-cell {
	width: 100%;
	max-height: 300px;
	min-height: 150px;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: carousel-cell;
}

.carousel-cell-image {
	display: block;
	max-height: 100%;
	margin: 0 auto;
	max-width: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
	opacity: 1;
}

.flickity-page-dots {
	position: initial;
	margin: 1rem 0;
}

.flickity-prev-next-button {
	top: 45%;
}
