<div class="catalog-products">
	{% for tid, data in products %}
		<div class="catalog-products__category">
			{% if data.name %}
				<div class="catalog-products__category-title">{{ data.name }}</div>
				{% if data.summary %}
					<div class="catalog-products__category-summary">{{- data.summary|raw -}}</div>
				{% endif %}
			{% endif %}

			{# {% if user.hasPermission('administer site_commerce') and tid > 0 and data.tid == false %}
				<div class="products__price_editor">
				<h3>Редактор цен</h3>
				{{ site_commerce_product_price_editor(tid) }}
				</div>
			{% endif %} #}

			<div class="catalog-products__items">
				{% for pid, item in data.items %}
					<div class="catalog-products__item">
						<a class="catalog-products__item-link" href="{{path('entity.site_commerce_product.canonical', {'site_commerce_product':pid})}}">

							{% if item.field_image.id %}
								{% set image = imageFromStyle(item.field_image.id, ['product_catalog_image']) %}
								<div class="catalog-products__item-image">
									<img class="catalog-products__image" src="{{ image.product_catalog_image }}" alt="{{ item.site_commerce_product.getTitle }}">
								</div>
							{% endif %}

							{% set stockStatus = site_commerce_product_status_stock(item.site_commerce_product) %}
							{% if stockStatus %}
								<div class="catalog-products__item-stock-status">{{ stockStatus }}</div>
							{% endif %}

              {# Цена товара #}
							<div class="catalog-products__item-cost">
							  {{ item.field_price_group }}
							</div>

							{# Название товара #}
							<div class="catalog-products__item-title">
								{{ item.title }}
							</div>

							{% if item.site_commerce_product.field_summary_catalog.value %}
								<div class="catalog-products__item-details">
									{{ item.site_commerce_product.field_summary_catalog.value|striptags }}
								</div>
							{% endif %}
						</a>
            <div class="catalog-products__item-add-to-cart-form">
							{{ item.add_cart_form }}
						</div>
					</div>
				{% endfor %}
			</div>

			{% if data.tid %}
				<div class="catalog-products__read-more">
					{% if data.view_all %}
						<a class="catalog-products__read-more-category" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': data.tid}) }}">
						  {{ 'View all products'|t }} ({{ data.count_term_products }})
						</a>
					{% else %}
						<a class="catalog-products__read-more-category" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': data.tid}) }}">
						  {{ 'More about products'|t }} ({{ data.count_term_products }})
						</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	{% endfor %}
</div>
