{# Подключаем библиотеку оформления #}
{{ attach_library('site_commerce_product/catalog') }}

<div class="site-commerce-product-catalog">
	{% for tid, data in terms %}
		<div class="site-commerce-product-catalog__item">
			{% if data.field_image %}
				<div class="site-commerce-product-catalog__image">{{ data.field_image }}</div>
			{% endif %}
			<div class="site-commerce-product-catalog__title">
				<a class="site-commerce-product-catalog__link" href="{{path('entity.taxonomy_term.canonical', {'taxonomy_term':tid})}}">{{ data.name }}</a>
			</div>
			{{ site_commerce_product_catalog_children_list(tid) }}
		</div>
	{% endfor %}
</div>
