{% if terms %}
	<ul class="site-commerce-product-catalog-children-list">
		{% for tid, data in terms %}
			<li class="site-commerce-product-catalog-children-list__item">
				<a class="site-commerce-product-catalog-children-list__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">{{ data.name }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
