<ul class="site-commerce-catalog-list">
    {% for tid, data in terms %}
        <li class="site-commerce-catalog-list__item">
            <a class="site-commerce-catalog-list__link" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tid}) }}">{{ data.name }}</a>
        </li>
    {% endfor %}
</ul>