{# Подключаем css библиотеку оформления #}
{{ attach_library('site_commerce_product/product-characteristic-add-form') }}

{{ form.gid }}

{{ form.cid }}

<table class="site-commerce-edit__table">
    <tr class="site-commerce-edit__table-row">
        <td class="site-commerce-edit__table-cell">{{ form.value }}</td>
        <td class="site-commerce-edit__table-cell">{{ form.unit }}</td>
        <td class="site-commerce-edit__table-cell">{{ form.cost }}</td>
    </tr>
</table>

{{ form.use_in_title }}

{{ form.image }}

{{ form.form_build_id }}
{# required #}
{{ form.form_token }}
{# required #}
{{ form.form_id }}
{# required #}
{{ form.actions }}
{# will render the action buttons in the form #}
