{# Подключаем библиотеку слайдера flickity #}
{{ attach_library('site_commerce_product/flickity') }}

{# Для прокрутки изображений используется плагин flickity #}
<div class="carousel" data-flickity='{ "cellAlign": "center", "contain": true, "pageDots": false, "lazyLoad": true}'>
	{% for delta, image in data %}
		<div class="carousel-cell">
			<img class="carousel-cell-image" data-flickity-lazyload="{{ image.style_url }}" alt=""/>
		</div>
	{% endfor %}
</div>
