{# Подключаем библиотеку оформления #}
{{ attach_library('site_commerce_product/product') }}

{# Кнопки администрирования карточкой товара. #}
{# {% if logged_in and user.hasPermission('administer site_commerce') %}
	{{ attach_library('core/drupal.dialog.ajax') }}
	<h3>Функции администрирования в разработке (не использовать на рабочем проекте)</h3>
	<div class="site-commerce-administer-block">
		<button class="btn btn-primary use-ajax" data-dialog-type="modal" href="{{ path('site_commerce.products.create_version', {'pid': content.pid, 'clone_pid': content.pid}) }}" data-dialog-options='{"width":800}'>
			{{ "Create copy of product"|t }}
		</button>

		<button class="btn btn-primary use-ajax" data-dialog-type="modal" href="{{ path('site_commerce.product_characteristic_add_form', {'pid': content.pid}) }}" data-dialog-options='{"width":800}'>
			{{ "Add characteristic"|t }}
		</button>
	</div>
{% endif %} #}

<article{{attributes}}>
	<div class="product">

		<div class="product__view">
			{# Изображения товара #}
			<div class="product__images">
				{# Изображения товаров #}
				{{ content.field_media_image }}
			</div>

			<div class="product__cart">
				{# Заголовок страницы #}
				{% if content.title %}
					<h1 class="product__title">{{ content.title }}</h1>
				{% endif %}

				{# Стоимость товара #}
				{{ content.field_price_group }}

				{% if cart_description %}
					<div class="product__cart-description">{{- cart_description -}}</div>
				{% endif %}

				{# Если разрешено добавлять в корзину #}
				{% if cart %}
					{# Форма добавления в корзину #}
					<div class="product__cart-data">
						{{ cart.data }}
					</div>

					{# Форма события после добавления в корзину
					<div class="product__cart-data-event product__cart-data-event_hide">
						{{ cart.event }}
					</div> #}
				{% endif %}

				{# Краткое описание товара #}
				{% if content.field_summary %}
					<div class="product__summary">{{- content.field_summary -}}</div>
				{% endif %}
			</div>
		</div>

		{# Основное содержимое карточки товара #}
		<div class="product__content">
		{{ content|without(
			'title',
			'created',
			'uid',
			'field_code',
			'field_code_manufacturer',
			'field_id_external',
			'field_media_image',
			'field_category',
			'field_summary',
			'field_summary_catalog',
			'field_settings',
			'field_search_index',
			'field_price_group'
		) }}
		</div>
	</div>
</article>
