{% if types is not empty %}
    <dl>
        {% for type in types %}
            <dt>
                <a href="{{ type.url }}">{{ type.label }}</a>
            </dt>
        {% endfor %}
    </dl>
{% endif %}